<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content=" Luan Ramalho" />
    <meta name="descriptions" content="Inserindo audios na página HTML" />
    <meta name="keywords" [content="Audio, música, MP#" />

    <title>Áudio</title>
  </head>

  <body>
    <h1>LEONARDO GONÇALVES</h1>
    <h3>Ele vive</h3>

    <!-- ctrl + k, ctrl + C  atalho para comentário-->
    <!-- atributos do audio (controls autoplay e loop) -->
    <audio controls>
      <source
        src="/MÓDULO 1//AUDIOS//Ele vive - Leonardo Gonçalves.mp3"
        type="audio/mpeg"
      />
    </audio>
    <h3>Getsêmani</h3>
    <audio controls>
      <source
        src="/MÓDULO 1//AUDIOS//Leonardo Gonçalves - Getsêmani.mp3"
        type="audio/mpeg"
      />
    </audio>
  </body>
</html>
