<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mark e Contenteditable</title>

    <style>
        mark{
            background-color: red;
            color: white;
            }
            
    </style>
</head>
<body>
    <div contenteditable>
        <h1>Mark e Contenteditable</h1>

        <p contenteditable="false">O eleitor que não comparecer às urnas nem justificar a ausência deverá pagar uma multa, e sofrerá outras consequências previstas no Código Eleitoral. <mark> O cidadão nessa situação não poderá, por exemplo, tirar passaporte, receber proventos oriundos de emprego público nem se inscrever em concursos.</mark> Veja a lista completa das sanções neste link.</p>
    </div>
</body>
</html>