<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>
<body>
    <!- _blank abre uma nova aba->
    <!- _self abre na mesma página>
    
    <a href="/MÓDULO 1/views/1 - firstPage/firstPage.html" target="_self" ><img src="/MÓDULO 1/img/LOGO2.png" title="Clique para abrir" width="400"> </a><br>
    <a href="http://www.google.com.br" target="_blank">Google</a>

</body>
</html>