<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        background-color: #ddc7ab;
      }

      .topo {
        display: block;

        margin-right: auto;
        text-align: center;
      }
      img {
        width: 200px;

        position: absolute;
        left: 20px;
        top: 5px;
      }
      div {
        padding: 10px;
        display:flexbox ;
        text-align: center;
         }
    
    </style>

    <title>Tecnologias para Front-End</title>
  </head>
  <body>
    <div class="topo">
      
      <h1>TECNOLOGIAS PARA DEV FRONT-END</h1>
      <p>(Fonte: Origamid)</p>
      <a href="https://www.origamid.com/curso"
        target="_blank">https://www.origamid.com/curso</a>
    </div>

    <br />

    
    <div>
      <h4>Web Designer Completo</h4>
      <ul>
        <input type="checkbox">Design</input>
        <input type="checkbox">HTML5</input>
        <input type="checkbox">UX Design</input>
        <input type="checkbox">CSS3</input>
        <input type="checkbox">SEO</input>
        <input type="checkbox">Tipografia</input>
        <input type="checkbox">UI Design</input>
        <input type="checkbox">JavaScript</input>
        <input type="checkbox">Grid</input>
        <input type="checkbox">Host</input>
        <input type="checkbox">Otimização</input>
        <input type="checkbox">Adobe XD</input>
        <input type="checkbox">Codificar</input>
        <input type="checkbox">Usabilidade</input>
        <input type="checkbox">Cores</input>
        <input type="checkbox">Analytics</input>
      </ul>
    </div>
    <div>
      <h4>WordPress Como CMS</h4>
      <ul>
        <input type="checkbox">WordPress</input>
        <input type="checkbox">PHP</input>
        <input type="checkbox">SEO</input>
        <input type="checkbox">ACF</input>
        <input type="checkbox">CMS</input>
        <input type="checkbox">Custom Post Types</input>
        <input type="checkbox">Hospedagem</input>
        <input type="checkbox">Temas</input>
      </ul>
    </div>
    <div>
      <h4>UI Designer Avançado</h4>
      <ul>
        <input type="checkbox">Tipografia</input>
        <input type="checkbox">UI Design</input>
        <input type="checkbox">Grid</input>
        <input type="checkbox">Cores</input>
        <input type="checkbox">Figma</input>
        <input type="checkbox">Componentes</input>
        <input type="checkbox">Espaçamento</input>
        <input type="checkbox">Domine</input>
      </ul>
    </div>
    <div>
      <h4>CSS Avançado: Posicionamento</h4>
      <ul>
        <input type="checkbox">CSS</input>
        <input type="checkbox">Flexbox</input>
        <input type="checkbox">Bootstrap</input>
        <input type="checkbox">Grid</input>
      </ul>
    </div>
    <div>
      <h4>CSS Grid Layout</h4>
      <ul>
        <input type="checkbox">CSS Grid</input>
        <input type="checkbox">Grid Container</input>
        <input type="checkbox">Grid Item</input>
        <input type="checkbox">Media Querie</input>
      </ul>
    </div>
    <div>
      <h4>JavaScript Completo ES6</h4>
      <ul>
        <input type="checkbox">Objetos</input>
        <input type="checkbox">Strings</input>
        <input type="checkbox">Arrays</input>
        <input type="checkbox">Promises</input>
        <input type="checkbox">Fetch</input>
        <input type="checkbox">RegExp</input>
        <input type="checkbox">NPM</input>
        <input type="checkbox">Git</input>
        <input type="checkbox">Babel</input>
        <input type="checkbox">Webpack</input>
      </ul>
    </div>
    <div>
      <h4>React Completo</h4>
      <ul>
        <input type="checkbox">Hooks</input>
        <input type="checkbox">React Router</input>
        <input type="checkbox">useContext</input>
        <input type="checkbox">CSS Modules</input>
        <input type="checkbox">PropTypes</input>
        <input type="checkbox">Componentes Funcionais</input>
        <input type="checkbox">Propriedades</input>
        <input type="checkbox">Eventos</input>
      </ul>
    </div>
    <div>
      <h4>WordPress REST API Dogs</h4>
      <ul>
        <input type="checkbox">POST</input>
        <input type="checkbox">GET</input>
        <input type="checkbox">PUT</input>
        <input type="checkbox">DELETE</input>
        <input type="checkbox">REST API</input>
        <input type="checkbox">JSON Web Token</input>
        <input type="checkbox">Custom Fields</input>
        <input type="checkbox">Password Reset</input>
      </ul>
    </div>
    <div>
      <h4>Tipografia Avançada</h4>
      <ul>
        <input type="checkbox">Tipografia</input>
        <input type="checkbox">Escala</input>
        <input type="checkbox">Largura do Texto</input>
        <input type="checkbox">Alinhamento</input>
        <input type="checkbox">Serifadas</input>
        <input type="checkbox">Sem Serifas</input>
        <input type="checkbox">Serifas Grossas</input>
        <input type="checkbox">Script</input>
        <input type="checkbox">OpenType</input>
        <input type="checkbox">Separadores</input>
        <input type="checkbox">Grid</input>
        <input type="checkbox">Fontes Externas</input>
      </ul>
    </div>
    <div>
      <h4>CSS Flexbox</h4>
      <ul>
        <input type="checkbox">Flexbox</input>
        <input type="checkbox">Flex-grow</input>
        <input type="checkbox">Flex-basis</input>
        <input type="checkbox">Flex Container</input>
      </ul>
    </div>
    <div>
      <h4>CSS com SASS</h4>
      <ul>
        <input type="checkbox">SASS</input>
        <input type="checkbox">Variáveis</input>
        <input type="checkbox">Mixins</input>
        <input type="checkbox">Import</input>
      </ul>
    </div>
    <div>
      <h4>UX Design Heurísticas</h4>
      <ul>
        <input type="checkbox">UX Design</input>
        <input type="checkbox">UI Design</input>
        <input type="checkbox">Usabilidade</input>
        <input type="checkbox">CSS</input>
      </ul>
    </div>
    <div>
      <h4>Adobe XD</h4>
      <ul>
        <input type="checkbox">Adobe XD</input>
        <input type="checkbox">Prototipação</input>
        <input type="checkbox">Formas</input>
        <input type="checkbox">Tipografia</input>
        <input type="checkbox">Símbolos</input>
        <input type="checkbox">Repeat Grid</input>
      </ul>
    </div>
    <div>
      <h4>Vue.js 2 Completo</h4>
      <ul>
        <input type="checkbox">Diretivas</input>
        <input type="checkbox">Vuex</input>
        <input type="checkbox">Vue Router</input>
        <input type="checkbox">Axios</input>
        <input type="checkbox">Componentes</input>
        <input type="checkbox">Animações</input>
        <input type="checkbox">REST API</input>
        <input type="checkbox">Vue CLI</input>
      </ul>
    </div>
    <div>
      <h4>WordPress REST API</h4>
      <ul>
        <input type="checkbox">POST</input>
        <input type="checkbox">GET</input>
        <input type="checkbox">PUT</input>
        <input type="checkbox">DELETE</input>
        <input type="checkbox">REST API</input>
        <input type="checkbox">WordPress</input>
        <input type="checkbox">JSON Web Token</input>
        <input type="checkbox">Custom Fields</input>
      </ul>
    </div>
    <div>
      <h4>WooCommerce Como CMS</h4>
      <ul>
        <input type="checkbox">Filters</input>
        <input type="checkbox">Actions</input>
        <input type="checkbox">Correios</input>
        <input type="checkbox">PagSeguro</input>
        <input type="checkbox">Objetos</input>
        <input type="checkbox">Arrays</input>
        <input type="checkbox">WordPress</input>
        <input type="checkbox">WooCommerce</input>
      </ul>
    </div>
    <div>
      <h4>Bootstrap 4</h4>
      <ul>
        <input type="checkbox">Bootstrap 4</input>
        <input type="checkbox">Grid</input>
        <input type="checkbox">Modal</input>
        <input type="checkbox">Carrossel</input>
      </ul>
    </div>
    <div>
      <h4>Automação Front End com NPM</h4>
      <ul>
        <input type="checkbox">NPM</input>
        <input type="checkbox">Gulp</input>
        <input type="checkbox">Git</input>
        <input type="checkbox">Node</input>
        <input type="checkbox">Jimp</input>
        <input type="checkbox">SVGO</input>
      </ul>
    </div>
    <div>
      <h4>JavaScript e jQuery</h4>
      <ul>
        <input type="checkbox">JavaScript</input>
        <input type="checkbox">jQuery</input>
        <input type="checkbox">Animações</input>
        <input type="checkbox">Fundamentos</input>
      </ul>
    </div>

    
  </body>
</html>
