<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Tabindex e Accesskey</title>
</head>

<body>

    <!-- accesskey coloca um atalho com a tecla Alt
    tabindex direciona o tab na ordem que for colocado -->
    <a href="http://www.google.com.br" tabindex="3" Accesskey="g" target="_blank">Google</a><br>
    <a href="http://www.youtube.com.br" tabindex="1" Accesskey="t" target="_blank">Youtube</a><br>
    <a href="http://www.yahoo.com.br" tabindex="2" Accesskey="y" target="_blank">Yahoo</a>
</body>

</html>
