<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Listas</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Listas</h1>

        <h2>Lista não ordenada</h2>
        <ul>
           
            <li>Ventilador</li>
            <li>Mochila</li>
            <li>Televisão
                <ol type="a">
                    <li>LCD</li>
                    <li>LED</li>
                    <li>4K</li>
                </ol>
            </li>
        </ul>       

        <h2>Lista ordenada</h2>

        <ol type="1">
            <li>Ventilador</li>
            <li>Mochila</li>
            <li>Televisão</li>

        </ol>

        <h2>Lista de descrição</h2>

            <dl>

                <dt>Ventilador</dt>
                    <dd>descrição1</dd>
                <dt>Mochila</dt>
                    <dd>descrição2</dd>
                <dt>SmartTv</dt>
                    <dd>descrição3</dd>

            </dl>
        
    </body>

</html> 