<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cursos de Desenvolvimento Web">
    <meta name="keywords" content=" HTML5, CSS3, PHP">
    <meta name="author" content="Luan Ramalho">
    <title>Div</title>
    
    <style>
        div {background-color:aqua ;padding:20px;}
        
        p {padding:20px;}
        span{color: red;background-color:#adcc57;}
    </style>
    
</head>
<body>
    <div>
        <h1>Aprendendo HTML - Div</h1>
        <p>Os códigos são como uma misturas de cores RGB (Red – Vermelho, Green – Verde, Blue – Azul), o código hexadecimal for 006600, deduz-se que a cor é verde, pois os dois primeiros números <span>(que correspondem ao vermelho – RRGGBB)</span>, são 0, os dois números do meio, são 6 e os dois números finais são 0. </p>

    </div>
</body>
</html>