<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>

    <style>
        summary{
            background-color: aqua;
        }
        ul{
            background-color: rgb(162, 253, 223);
        }
        
    </style>
</head>
<body>
    <details>
        <summary>Curso de HTML</summary>
        <ul>
            <li>01 - Introdução a Linguagem</li>
            <li>02 - Tags</li>
            <li>03 - Exemplo Prático</li>
        </ul>
    </details>
</body>
</html>